
============================================================
PAGE 1 of 4
============================================================

APPENDIX G INSURANCE REQUIREMENTS 
FOR CONTRACTORS 
 
I. VERIFICATION OF COVERAGE 
 
CONTRACTOR shall furnish the COUNTY with certificates evidencing coverage required 
below. Copies of required endorsements must be attached to provided 
certificates. The County Risk Manager may approve self-insurance programs in lieu 
of required policies of insurance if, in the opinion of the Risk Manager, the interests of 
the COUNTY and the general public are adequately protected. All certificates, 
evidences of self-insurance, and additional insured endorsements are to be received 
and approved by the County before performance commences. The COUNTY reserves 
the right to require that CONTRACTOR provide complete, certified copies of any policy 
of insurance offered in compliance with these specifications. 
 
II. MINIMUM SCOPE OF INSURANCE 
 
Coverage shall be at least as broad as: 
 
A. GENERAL LIABILITY: Insurance Services Office’s Commercial General Liability 
occurrence coverage form CG 0001. Including, but not limited to 
Premises/Operations, Products/Completed Operations, Contractual, and Personal 
& Advertising Injury, without additional exclusions or limitations, unless 
approved by the County Risk Manager. 
 
B. AUTOMOBILE LIABILITY: Insurance Services Office’s Commercial Automobile 
Liability coverage form CA 0001. 
 
1. Commercial Automobile Liability: auto coverage symbol “1” (any auto) for 
corporate/business owned vehicles. If there are no owned or leased vehicles, 
symbols 8 and 9 for non-owned and hired autos shall apply. 
 
2. Personal Lines automobile insurance shall apply if vehicles are 
individually owned. 
Without limiting CONTRACTOR's indemnification, CONTRACTOR shall procure and 
maintain for the duration of the Agreement, insurance against claims for injuries to 
persons or damages to property which may arise from or in connection with the 
performance of the Agreement by the CONTRACTOR, its agents, representatives or 
employees. COUNTY shall retain the right at any time to review the coverage, form, 
and amount of the insurance required hereby. If in the opinion of the County Risk 
Manager, insurance provisions in these requirements do not provide adequate 
protection for COUNTY and for members of the public, COUNTY may require 
CONTRACTOR to obtain insurance sufficient in coverage, form and amount to provide 
adequate protection. COUNTY's requirements shall be reasonable but shall be 
imposed to assure protection from and against the kind and extent of risks that exist 
at the time a change in insurance is required. 
 
C. WORKERS’ COMPENSATION: Statutory requirements of the State of California 
and Employer's Liability Insurance. 
 
D. PROFESSIONAL LIABILITY or Errors and Omissions Liability insurance appropriate 
to the CONTRACTOR's profession.

============================================================
PAGE 2 of 4
============================================================

E. UMBRELLA or Excess Liability policies are acceptable where the need for higher 
liability limits is noted in the Minimum Limits of Insurance and shall provide liability 
coverages that at least follow form over the underlying insurance requirements where 
necessary for Commercial General Liability, Commercial Automobile Liability, 
Employers’ Liability, and any other liability coverage (other than Professional Liability) 
designated under the Minimum Scope of Insurance. 
 
III. MINIMUM LIMITS OF INSURANCE 
 
CONTRACTOR shall maintain limits no less than: 
 
A. General Liability shall be on an Occurrence basis (as opposed to Claims Made 
basis). Minimum limits and structure shall be: 
 
Building Trades General Aggregate: $2,000,000 
Products Comp/Op Aggregate: $2,000,000 
Personal & Adv. Injury: $1,000,000 
Each Occurrence: $1,000,000 
Fire Damage: $ 100,000 
 
Contractors and Contractors engaged in other projects of construction shall have their 
general liability Aggregate Limit of Insurance endorsed to apply separately to each 
job site or project, as provided for by Insurance Services Office form CG-2503 
Amendment-Aggregate Limits of Insurance (Per Project). 
 
B. AUTOMOBILE LIABILITY: 
 
1. Commercial Automobile Liability for Corporate/business owned vehicles 
including non-owned and hired, $1,000,000 Combined Single Limit. 
 
2. Personal Lines Automobile Liability for Individually owned vehicles, $250,000 
per person, $500,000 each accident, $100,000 property damage. 
 
C. WORKERS' COMPENSATION: Statutory. 
 
D. EMPLOYER'S LIABILITY: $1,000,000 per accident for bodily injury or disease. 
 
E. PROFESSIONAL LIABILITY OR ERRORS AND OMISSIONS LIABILITY: $1,000,000 
per claim and aggregate. 
 
IV. DEDUCTIBLES AND SELF-INSURED RETENTION 
 
Any deductibles or self-insured retention that apply to any insurance 
required by this Agreement must be declared and approved by the COUNTY. 
 
V. CLAIMS MADE PROFESSIONAL LIABILITY INSURANCE 
 
If professional liability coverage is written on a Claims Made form: 
 
A. The "Retro Date" must be shown, and must be on or before the date of 
the Agreement or the beginning of Agreement performance by 
CONTRACTOR.

============================================================
PAGE 3 of 4
============================================================

B. Insurance must be maintained and evidence of insurance must be provided for at 
least one (1) year after completion of the Agreement. 
 
C. If coverage is cancelled or non-renewed, and not replaced with another claims 
made policy form with a "Retro Date" prior to the contract effective date, the 
CONTRACTOR must purchase "extended reporting" coverage for a minimum of one 
(1) year after completion of the Agreement. 
 
VI. OTHER INSURANCE PROVISIONS 
 
The insurance policies required in this Agreement are to contain, or be endorsed to 
contain, as applicable, the following provision: 
 
A. All Policies: 
 
1. ACCEPTABILITY OF INSURERS: Insurance is to be placed with insurers with 
a current A.M. Best's rating of no less than A-VII. The County Risk Manager 
may waive or alter this requirement, or accept self-insurance in lieu of any 
required policy of insurance if, in the opinion of the Risk Manager, the interests 
of the COUNTY and the general public are adequately protected. 
 
2. MAINTENANCE OF INSURANCE COVERAGE: The Contractor shall maintain 
all insurance coverages and limits in place at all times and provide the County 
with evidence of each policy's renewal ten (10) days in advance of its 
anniversary date. 
 
Contractor is required by this Agreement to immediately notify County if they receive 
a communication from their insurance carrier or agent that any required insurance is 
to be canceled, non-renewed, reduced in scope or limits or otherwise materially 
changed. Contractor shall provide evidence that such cancelled or non-renewed or 
otherwise materially changed insurance has been replaced or its cancellation notice 
withdrawn without any interruption in coverage, scope or limits. Failure to maintain 
required insurance in force shall be considered a material breach of the Agreement. 
 
VII. COMMERCIAL GENERAL LIABILITY AND/OR COMMERCIAL 
AUTOMOBILE LIABILITY 
 
A. ADDITIONAL INSURED STATUS: The COUNTY, its officers, directors, officials, 
employees, and volunteers are to be endorsed as additional insureds as respects: 
liability arising out of activities performed by or on behalf of the CONTRACTOR; 
products and completed operations of the CONTRACTOR; premises owned, occupied 
or used by the CONTRACTOR; or automobiles owned, leased, hired or borrowed by 
the CONTRACTOR. The coverage shall contain no endorsed limitations on the scope 
of protection afforded to the COUNTY, its officers, directors, officials, employees, or 
volunteers. 
 
B. CIVIL CODE PROVISION: Coverage shall not extend to any indemnity coverage for 
the active negligence of the additional insured in any case where an agreement to 
indemnify the additional insured would be invalid under Subdivision (b) of Section 
2782 of the Civil Code.

============================================================
PAGE 4 of 4
============================================================

C. PRIMARY INSURANCE: For any claims related to this Agreement, the 
CONTRACTOR's insurance coverage shall be endorsed to be primary insurance as 
respects the COUNTY, its officers, officials, employees and volunteers. Any insurance 
or self-insurance maintained by the COUNTY, its officers, directors, officials, 
employees, or volunteers shall be excess of the CONTRACTOR's insurance and shall 
not contribute with it. 
 
D. SEVERABILITY OF INTEREST: The CONTRACTOR's insurance shall apply separately 
to each insured against whom claim is made or suit is brought, except with respect to 
the limits of the insurer's liability. 
 
E. SUBCONTRACTORS: CONTRACTOR shall be responsible for the acts and omissions 
of all its subcontractors and additional insured endorsements as provided by 
CONTRACTORs subcontractor. 
 
VIII. WORKERS’ COMPENSATION 
 
Workers’ Compensation Waiver of Subrogation: The workers' compensation policy 
required hereunder shall be endorsed to state that the workers' compensation carrier 
waives its right of subrogation against the COUNTY, its officers, directors, officials, 
employees, agents or volunteers, which might arise by reason of payment under such 
policy in connection with performance under this Agreement by the CONTRACTOR. 
Should CONTRACTOR be self-insured for workers' compensation, CONTRACTOR hereby 
agrees to waive its right of subrogation against COUNTY, its officers, directors, 
officials, employees, agents or volunteers. 
 
IX. PROPERTY 
 
Course of Construction (COC) Waiver of Subrogation: Any Course of Construction 
(COC) policies maintained by the CONTRACTOR in performance of the Agreement 
shall contain the following provisions: 
 
1. The COUNTY shall be named as loss payee. 
 
2. The Insurer shall waive all rights of subrogation against the COUNTY. 
 
Inland Marine Waiver of Subrogation: Any Inland Marine insurance policies 
maintained by the CONTRACTOR in performance of the Agreement shall be endorsed 
to state that the insurer shall waive all rights of subrogation against the COUNTY. 
 
X. NOTIFICATION OF CLAIM 
 
If any claim for damages is filed with CONTRACTOR or if any lawsuit is instituted 
against CONTRACTOR, that arise out of or are in any way connected with 
CONTRACTOR’s performance under this Agreement and that in any way, directly or 
indirectly, contingently or otherwise, affect or might reasonably affect COUNTY, 
CONTRACTOR shall give prompt and timely notice thereof to COUNTY. Notice shall 
be prompt and timely if given within thirty (30) days following the date of receipt of 
a claim or ten (10) days following the date of service of process of a lawsuit.